.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4px;
    box-sizing: border-box;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.2s;
}

.transferInfo {
    color: black;
}

.transferInfo:first-child {
    font-size: 16px;
    padding-top: 6px;
}

.date {
    font-size: 12px;
    padding: 4px 0 6px 0;
    color: grey;
}

.card p{
    margin: 0;
}

.egreso {
    color: red;
}

.ingreso {
    color: green;
}

.separation {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}